In [1]:
import os
import tensorflow as tf
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from dataset_path import output_path

path = output_path

## Importing Datasets

In [16]:
df_train = pd.read_csv((os.path.join(path, 'train.csv')))
df_test = pd.read_csv((os.path.join(path, 'test.csv')))

In [17]:
df = df_train
df = df.append(df_test)
df = df[['stay_id','subject_id','gender','age','race','arrival_transport', 'disposition',
         'ethnicity','insurance',"outcome_hospitalization"]]

C:\Users\andyw\AppData\Local\Temp\ipykernel_24164\3446409915.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_test)

In [18]:
df

,stay_id,subject_id,gender,age,race,arrival_transport,disposition,ethnicity,insurance,outcome_hospitalization
0,32336955,14328106,F,75,WHITE,WALK IN,HOME,NaN,NaN,False
1,35614382,18860711,F,28,WHITE,WALK IN,HOME,NaN,NaN,False
2,37485359,16860825,F,61,BLACK/AFRICAN AMERICAN,AMBULANCE,HOME,BLACK/AFRICAN AMERICAN,NaN,False
3,34783406,14971343,F,83,BLACK/AFRICAN AMERICAN,WALK IN,ADMITTED,BLACK/AFRICAN AMERICAN,Medicare,True
4,39707189,11648387,M,70,WHITE,WALK IN,HOME,WHITE,NaN,False
...,...,...,...,...,...,...,...,...,...,...
83615,38635871,19999018,F,42,MULTIPLE RACE/ETHNICITY,WALK IN,HOME,NaN,NaN,False
83616,36370988,19999043,F,36,WHITE,AMBULANCE,HOME,WHITE,NaN,False
83617,39012698,19999156,F,62,WHITE,WALK IN,HOME,WHITE,Other,True
83618,34469189,19999175,M,21,WHITE,WALK IN,HOME,NaN,NaN,False
83619,30402875,19999466,M,33,OTHER,AMBULANCE,TRANSFER,OTHER,Medicare,True

In [22]:
np.sum(df.outcome_hospitalization)

197824

## Age and Gender|

In [19]:
df.age.describe()

count    418100.000000
mean         52.834544
std          20.605357
min          18.000000
25%          35.000000
50%          53.000000
75%          69.000000
max         103.000000
Name: age, dtype: float64

In [20]:
df[df['outcome_hospitalization']].age.describe()

count    197824.000000
mean         60.074556
std          19.492371
min          18.000000
25%          47.000000
50%          62.000000
75%          75.000000
max         103.000000
Name: age, dtype: float64

In [21]:
df[df['outcome_hospitalization'] == False].age.describe()

count    220276.000000
mean         46.332483
std          19.372915
min          18.000000
25%          29.000000
50%          45.000000
75%          61.000000
max         102.000000
Name: age, dtype: float64

In [23]:
df.gender.describe()

count     418100
unique         2
top            F
freq      227007
Name: gender, dtype: object

In [24]:
df[df['outcome_hospitalization']].gender.describe()

count     197824
unique         2
top            F
freq      100252
Name: gender, dtype: object

In [25]:
df[df['outcome_hospitalization'] == False].gender.describe()

count     220276
unique         2
top            F
freq      126755
Name: gender, dtype: object

## Racial Composition

In [27]:
race_single = df.race.apply(lambda x: x.split(' ')[0])

In [28]:
race_single[race_single == 'BLACK/CAPE'] = 'BLACK/AFRICAN'
race_single[race_single == 'BLACK/CARIBBEAN'] = 'BLACK/AFRICAN'

race_single[race_single == 'HISPANIC'] = 'HISPANIC/LATINO'
race_single[race_single == 'SOUTH'] = 'HISPANIC/LATINO'

race_single[race_single == 'AMERICAN'] = 'NATIVE'

race_single[race_single == 'PORTUGUESE'] = 'WHITE'

In [29]:
df['race_single'] = race_single

In [30]:
race_single.value_counts()

WHITE              244093
BLACK/AFRICAN       92168
HISPANIC/LATINO     35205
OTHER               20357
ASIAN               18321
UNKNOWN              5442
NATIVE               1507
PATIENT               599
MULTIPLE              272
UNABLE                136
Name: race, dtype: int64

In [31]:
df[df['outcome_hospitalization']].race_single.value_counts()

WHITE              130104
BLACK/AFRICAN       36224
HISPANIC/LATINO     12295
OTHER                7583
ASIAN                7124
UNKNOWN              3289
NATIVE                774
PATIENT               246
UNABLE                 98
MULTIPLE               87
Name: race_single, dtype: int64

In [32]:
df[df['outcome_hospitalization'] == False].race_single.value_counts()

WHITE              113989
BLACK/AFRICAN       55944
HISPANIC/LATINO     22910
OTHER               12774
ASIAN               11197
UNKNOWN              2153
NATIVE                733
PATIENT               353
MULTIPLE              185
UNABLE                 38
Name: race_single, dtype: int64